.header {
    // position: fixed;
    // top: 0;
    // margin:0px auto; 
    width: 100%;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: orange;  

    .headerContent {
        display: flex;
        justify-content: space-between;
        width: 80%;
        // background-color: lime;

        .logoBox {
            display: flex;
            justify-content: flex-start;
            // background-color: olive;
            width: 300px;
            cursor: pointer;
        }

        .navItems {
            display: flex;
            align-items: center;
            // background-color: fuchsia;

            .navItemsChild {
                font-size: 1rem;
                color: #212529;
                padding: 0px 16px;
                cursor: pointer;
            }
        }

        .navButtons {
            display: flex;
            align-items: center;
            // background-color: rgb(248, 54, 200);

            .subButtonBox {
                // background-color: yellow;
                // margin-left: 32px;

                .subButton {
                    // width: 180px;
                    // height: 32px;
                    color: #3D8618;
                    padding-top: 0.3rem;
                    padding-bottom: 0.3rem;
                    font-size: 14px;
                    font-weight: 700;
                    border-radius: 4px;
                    border: 1px solid #97CB7C;
                    background-color: white;
                    cursor: pointer;

                    &:hover {
                        border: 1px solid #3D8618;
                        background-color: #3D8618;
                        color: white;
                    }
                }
            }

            .langSelectBox {
                margin-left: 1rem;
                // background-color: lime;

                .langSelect {
                    color: #495057;
                    text-align: center;
                    padding-top: 0.3rem;
                    padding-bottom: 0.3rem;
                    font-size: 14px;
                    border-radius: 4px;
                    border: 1px solid #ced3d9;
                    background-color: white;
                    cursor: pointer;

                    .options {
                        width: 200px;
                    }
                }
            }

            .searchIconBox {
                width: 50px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                // background-color: yellow;
                margin-left: 12px;
                cursor: pointer;
            }
        }
    }
}